[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "blog/themes/ghostwriter"]
	path = blog/themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
